* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ****************** */
/* Navbar Section Start */
header {
    height: 100%;
    width: 100%;
    float: left;
    padding-left: 20px;
    background: #007683;
    z-index: 10;
}
.nav-logo {
    max-width: 100px;
    padding: 10px 0;
    float: right;
}
.nav-logo img {
    max-width: 100%;
}
.navbar {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #007683;
    top: -100%;
    left: 0;
    padding: 50px 0;
    transition: 1s;
}
.navbar li {
    list-style: none;

}
.navbar li a {
    width: 40vw;
    color: #fff;
    padding: 28px 15px;
    text-transform: uppercase;
    text-align: left;
    display: block;
    text-decoration: none;
    font-size: 1.6em;
}
.navbar li a:hover {
    transition: 0.6s;
    background-color: white;
    color: #007683;
}
.show-menu-btn,
.hide-menu-btn {
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
}
.show-menu-btn {
    margin: 0;
    float: left;
    display: block;
}
.show-menu-btn i {
    line-height: 8vh;
}
#toggle-btn-check {
    position: absolute;
    visibility: hidden;
    z-index: -9;
}
.hide-menu-btn {
    position: absolute;
    top: 15px;
    left: 20px;
}
#toggle-btn-check:checked ~ nav .navbar {
    top: 0;
}
/* Navbar Section End */
/* ****************** */

/* ****************** */
/* Section Intro Start */

.intro {
    width: 100%;
    height: 100vh;
}
.intro-bg-image {
    height: 100%;
    background-image: url("assets/xps-4TBSG2Oqu0Q-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}